.switch--input {
  opacity: 0;
  position: absolute;
}
.switch--input + .switch--label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.switch--input + .switch--label::before {
  content: "";
  width: 2em;
  height: 1em;
  background-color: #ddd;
  border-radius: 1em;
  margin-right: 0.25em;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
.switch--input + .switch--label::after {
  position: absolute;
  left: 0.1em;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-color: black;
  border-radius: 1em;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
.switch--input:checked + .switch--label::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: white;
}
.switch--input:checked + .switch--label::before {
  background-color: black;
}
.switch--input:focus + .switch--label::before {
  outline: 1px solid black;
}